<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mosidian.web.dao.oms.ExpressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mosidian.web.model.oms.Express">
        <id column="id" property="id" />
        <result column="logo" property="logo" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="no" property="no" />
        <result column="state" property="state" />
        <result column="memo" property="memo" />
        <result column="uuid" property="uuid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, logo, name, code, no, state, memo, uuid
    </sql>

</mapper>
