<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mosidian.web.dao.sys.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mosidian.web.model.sys.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="roleid" property="roleid" />
        <result column="memo" property="memo" />
        <result column="createdate" property="createdate" />
        <result column="creater" property="creater" />
        <result column="editdate" property="editdate" />
        <result column="editor" property="editor" />
        <result column="recordstatus" property="recordstatus" />
        <result column="uuid" property="uuid" />
        <result column="shopid" property="shopid" />
        <result column="is_login" property="isLogin" />
        <result column="status" property="status" />
        <result column="message" property="message" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, phone, roleid, memo, createdate, creater, editdate, editor, recordstatus, uuid, shopid,is_login,status,message
    </sql>

    <select id="userList" resultType="com.mosidian.web.model.sys.User">
        select  * from sys_user  ${ew.customSqlSegment}
    </select>

</mapper>
