/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199.98px) {

.header_top_left ul li {
	display: inline-block;
	margin-right: 15px;
}

.singel_team {
	width: 100%;
}
.services_content h4 {
	font-size: 22px;
}

.singel_blog .blog_content ul li {
	margin-right: 14px;
}




}



 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991.98px) {

.navbar-nav {
	text-align: center !important;
}
.navbar-nav li {
	margin: 4px 0;
}

.navbar-collapse {
	background-color: #242424;
}

.slider_part .singel_slider .caption h2 {
	font-size: 42px;
}
.slider_part .singel_slider{
    height: 600px;
}

.singel_price.active{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.singel_price:hover.active {
	-webkit-box-shadow: 0px 3px 30px -5px rgba(0,0,0,0.45);
	box-shadow: 0;
}

}




 
/* small mobile :320px. */
@media (min-width: 576px) and (max-width: 767.98px) {

.navbar-nav {
	text-align: center !important;
}
.navbar-nav li {
	margin: 4px 0;
}
.navbar-collapse {
	background-color: #242424;
}
.slider_part .singel_slider .caption h4 {
	font-size: 20px
}
.slider_part .singel_slider .caption h2 {
	font-size: 30px;
}
.slider_part .singel_slider{
    height: 550px;
}
.become_contant h2 {
	font-size: 28px;
}



}





/* Large Mobile :480px. */
@media only screen and  (max-width: 575.98px) {


p{
    font-size: 14px;
}

.button {
	padding: 8px 16px;
	font-size: 14px;
	width: 50px;
	height: 30px;
}

.navbar-nav {
	text-align: center !important;
}
.navbar-nav li {
	margin: 4px 0;
}
.navbar-collapse {
	background-color: #242424;
}
.slider_part .singel_slider .caption h4 {
	font-size: 18px;
}
.slider_part .singel_slider .caption h2 {
	font-size: 24px;
}
.slider_part .singel_slider .caption ul li {
    margin: 0 4px;
}
.slider_part .singel_slider{
    height: 550px;
}
.become_contant h5 {
	font-size: 16px;
}
.become_contant h2 {
	font-size: 26px;
}
.about_text .nav.nav-tabs li {
    margin-right: 15px;
}
.about_text .nav.nav-tabs li a {
	font-size: 14px;
}
.project_menu ul li {
	line-height: 34px;
}

.singel_blog .blog_content ul li {
    margin-right: 14px;
}



}
